body {
  font-family: Arial, Helvetica, sans-serif, sans-serif;
  background: #1c1c1c;
  color: #ffffff;
}

h2 {
  color: #d5d4d8;
}

.container {
  max-width: 400px;
  height: 400px;
  margin: 20vh auto 0 auto;
  background: #1f2937;
  padding: 50px;
  text-align: center;
  border-radius: 10px;
}

.members,
.password {
  display: flex;
  justify-content: space-between;
  padding: 0;
  padding-top: 5px;
  border-top: solid #2f3e53;
}

.list {
  width: 40%;
}

input {
  background: #273549;
  height: 30px;
  width: 180px;
  color: #d5d4d8;
  border-radius: 5px;
  border: none;
  text-align: center;
  padding: 5px;
  outline: none;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
}

#decrypt-input {
  width: 90%;
  text-align: left;
}

#permission-btn,
#connect-btn,
#decrypt-btn {
  background: #10b981;
  height: 30px;
  width: 150px;
  margin: 0;
  font-weight: 600;
  border-style: none;
  border-radius: 5px;
  color: #ffffff;
  display: block;
}

#permission-btn,
#decrypt-btn {
  margin: 20px auto;
}

#permission-btn:hover,
#connect-btn:hover,
#decrypt-btn:hover {
  cursor: pointer;
}

h1 {
  color: #55f991;
  background: none;
}

.hide {
  display: none;
}

.display {
  display: inline;
}

#permission-page-btn,
#decrypting-page-btn,
.nominee {
  background: none;
  border: none;
  padding: 0 20px;
  font-size: 24px;
  color: #10b981;
  text-decoration: underline;
  cursor: pointer;
}

#decrypted-password {
  background: #273549;
  height: 30px;
  width: 60%;
  color: #fff;
  margin: 0 auto;
  margin-top: 30px;
  border-radius: 5px;
  text-align: center;
  padding: 5px;
}
